body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.g-logo img  {
    padding-top: 109px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.navbar a:hover {
    color: rgba(0, 0, 0, 0.75)
}

/* remove bullets */
li {
    list-style: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: auto;
}

.g-logo {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar input {
    border-radius: 24px;
    height: 44px;
    border: 1px solid #dfe1e5;
    width: 482px;
}

.searchbar input:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    border: none;
}

.searchbuttons {
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.searchbuttons button {
    margin: 11px 4px;
    padding: 9px 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    min-width: 54px;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.searchbuttons button:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    padding: 15px 15px 0px 0px;
    font-size: 13px;
}


/* Footer bar */
.fbar * {
    background-color: rgb(242, 242, 242);
    line-height: 30px;
    margin: 0;
}



.fbar li, .fbar p {
    padding: 8px 0px 8px 27px;
}

.bottom-fbar {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e4e4e4;
    font-size: 16px;
    opacity: 0.55;
    padding-right: 27px;
}

.top-fbar {
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
    opacity: 0.5;
}

.left-bottom-fbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}
.right-bottom-fbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}
